<div class="container-fluid">
  <div class="row">

    <div id="blueimp-gallery" class="blueimp-gallery">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
    </div>

  </div>
</div>

<% unless @books.empty? %>
    <% if current_page?(root_path) %>
        <div style="float: right; padding: 20px">
          Ilość wyników:
          <%= link_to '10', root_path(page: params[:page], find_by: params[:find_by], per_page: 10) %>
          <%= link_to '20', root_path(page: params[:page], find_by: params[:find_by], per_page: 20) %>
          <%= link_to '50', root_path(page: params[:page], find_by: params[:find_by], per_page: 50) %>
        </div>

    <% elsif current_page?(mobile_path) %>

        <div style="float: right; padding: 20px; line-height: 150%">
          Ilość wyników:
          <%= link_to '10', mobile_path(page: params[:page], find_by: params[:sort_by], per_page: 10) %>
          <%= link_to '20', mobile_path(page: params[:page], find_by: params[:sort_by], per_page: 20) %>
          <%= link_to '50', mobile_path(page: params[:page], find_by: params[:sort_by], per_page: 50) %>
          <br>
          Sortuj wg:
          <%= select_tag :sort_by, options_for_select(['brak', 'tytułu','autora','stanu'], params[:sort_by]),
                         :onchange => "if(this.value){window.location='?sort_by='+this.value;}" %>
        </div>

    <% else %>
        <div style="display: inline-block; float: right; padding: 20px">
          Ilość wyników:
          <%= link_to '10', root_path(page: params[:page], find_by: params[:find_by], per_page: 10) %>
          <%= link_to '20', root_path(page: params[:page], find_by: params[:find_by], per_page: 20) %>
          <%= link_to '50', root_path(page: params[:page], find_by: params[:find_by], per_page: 50) %>
        </div>
    <% end %>
<% end %>

<% if @books.empty? %>

    <div class="jumbotron"><h2 style="text-indent:30px">Brak wyników wyszukania.</h2></div>

<% else %>

    <%= render 'page_mobile' %>

<% end %>

<script>
    $(".links table tr td:first-child a").onclick = function (event) {
        event = event || window.event;
        alert("It works, somehow");
        var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');

        blueimp.Gallery(this, options);
    };
</script>
