<div class="container-fluid">
    <div class="row">

      <% @books.each do |book| %>

          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6" style=" text-align: center; height: 320px">

              <div><a href="<%= book.cover.url %>" title="<%= book.title %>" data-gallery>
                <img src="<%= book.cover.url(:square) %>" alt="<%= book.title %>" style="margin-left: 10px" class="img-rounded"></a>
              </div>

              <div><em><%= book.title %></em></div>
              <div><%= book.author %></div>

              <%= f.simple_fields_for book, index: book.id do |form| %>
                  <div><%= form.input :state, collection: ['brak', 'przeczytana','do przeczytania','nie interesuje mnie'], include_blank: false, label: false  %>
                  </div>
              <% end %>

          </div>

      <% end %>

    </div>
</div>