<div style='margin-left: 20px; display: inline-block'>
      <%= paginate @books, :theme => 'twitter-bootstrap-3', :window => 2 %>
</div>
    <div id="links">
      <table class="table table-hover table-responsive table-bordered">
        <tr>
          <th>Okładka</th>
          <th><%= params.has_value?('title') ? (link_to 'Tytuł', root_path(:find_by => 'title_rev', page: params[:page], per_page: params[:per_page])) : (link_to 'Tytuł', root_path(:find_by => 'title', page: params[:page], per_page: params[:per_page]) ) %></th>
          <th><%= params.has_value?('author') ? (link_to 'Autor', root_path(:find_by => 'author_rev', page: params[:page], per_page: params[:per_page])) : (link_to 'Autor', root_path(:find_by => 'author', page: params[:page], per_page: params[:per_page]) ) %></th>
          <th><%= params.has_value?('state') ? (link_to 'Stan', root_path(:find_by => 'state_rev', page: params[:page], per_page: params[:per_page])) : (link_to 'Stan', root_path(:find_by => 'state', page: params[:page], per_page: params[:per_page]) ) %></th>
        </tr>

        <%= simple_form_for :books, method: :patch, url: { action: :update, controller: 'books' } do |f| %>
                <% @books.each do |book| %>
                    <%= render 'fields_books_form', book: book, f: f %>
                <% end %>
          </table>
        </div>
        <div style="float: right; margin-right: 20px; display: inline-block">
          <%= f.button :submit, 'Zapisz' %>
        </div>

        <% end %>
<div style='margin-left: 20px;  position: relative; top: -15px; display: inline-block'>
      <%= paginate @books, :theme => 'twitter-bootstrap-3', :window => 2 %>
</div>