<div style='margin-left: 20px'>
  <%= ajax_links :section_id => "page" do %>
      <%= paginate @books, :theme => 'twitter-bootstrap-3', :window => 2 %>
  <% end %>
</div>

<div id="links">
  <table class="table table-hover table-responsive table-bordered">


    <tr>
      <th>Okładka</th>
      <th>Tytuł</th>
      <th>Autorzy</th>
      <th>Stan</th>
    </tr>


    <%= ajax_loadzone do %>
        <% @books.each do |book| %>
            <tr>
              <td><a href="<%= book.cover.url %>" title="<%= book.title %>" data-gallery>
                <img src="<%= book.cover.url(:thumb) %>" alt="<%= book.title %>" style="margin-left: 10px">
              </a>
              </td>
              <td><em><%= book.title %></em></td>
              <td><%= book.author %></td>
              <td><%= book.state %></td>
            </tr>
        <% end %>
    <% end %>
  </table>
</div>

<div style='margin-left: 20px'>
    <%= ajax_links :section_id => "page" do %>
    <%= paginate @books, :theme => 'twitter-bootstrap-3', :window => 2 %>
    <% end %>
</div>