<!DOCTYPE html>
<html>
<head>
  <title>AkraApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render 'layouts/shim' %>
</head>
<body>

    <header>
      <%= render 'layouts/header' %>
    </header>

    <main role='main'>
        <%= yield %>
    </main>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>

    <% if Rails.env.development? %>
    <%= debug(params) %>
    <% end %>

<script>
  <% flash.each do |key, value| %>
  <%= add_gritter(value, :image => key, :title => "Komunikat:", nodom_wrap: true) %>
  <% end %>

</script>

</body>
</html>
